
.DS_Store
*.xcuserstate
*.plist
*.xcuserstate
GoFrench.xcodeproj/project.xcworkspace/xcuserdata/xigao.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
GoFrench.xcodeproj/project.xcworkspace/xcuserdata/xigao.xcuserdatad/UserInterfaceState.xcuserstate
